.oembedall-githubrepos {
  // background: url("http://github.com/images/icons/public.png") no-repeat scroll 6px 9px transparent;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
  list-style-type: none;
  margin: 0 0 10px;
  padding: 8px 10px 0;
  width: 452px;
  
  .oembedall-body {
    background: -moz-linear-gradient(center top, #fafafa, #efefef) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#efefef));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #eee;
    margin-left: -10px;
    margin-top: 8px;
    padding: 5px 10px;
    width: 100%;
  }

  h3 {
    font-size: 14px;
    margin: 0;
    padding-left: 18px;
    white-space: nowrap;
  }

  .oembedall-description {
    color: #444;
    font-size: 12px;
    margin: 0 0 3px;
  }

  .oembedall-updated-at {
    color: #888;
    font-size: 11px;
    margin: 0;
  }

  .oembedall-repo-stats {
    // background: url("http://github.com/images/modules/pagehead/actions_fade.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding-left: 15px;
    position: relative;
    z-index: 5;
    
    li {
      border: medium none;
      color: #666;
      display: inline-block;
      list-style-type: none;
      margin: 0 !important;

      a {
        background-color: transparent;
        background-position: 5px -2px;
        background-repeat: no-repeat;
        border: medium none;
        border-left: 1px solid #ddd;
        color: #666 !important;
        display: inline-block;
        height: 21px;
        line-height: 21px;
        padding: 0 5px 0 23px;
      }

      &:hover {
        background: none no-repeat scroll 5px -27px #4183c4;
        color: #fff !important;
        text-decoration: none;
      }
    }

    li:first-child a {
      border-left: medium none;
      margin-right: -3px;

      &:hover {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }
    }

    li:last-child a:hover {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }

    // li.oembedall-watchers a {
    //   background-image: url("http://github.com/images/modules/pagehead/repostat_watchers.png");
    //}

    //li.oembedall-forks a {
    //   background-image: url("http://github.com/images/modules/pagehead/repostat_forks.png");
    //}
  }
}
